<html xmlns:th="http://www.w3.org/1999/xhtml">
<div class="row br" th:fragment="admin">
    <ul class="nav nav-tabs">
        <!--<li id="sub-nav-admin"><a href="/user/profile">个人信息</a></li>-->
        <li id="sub-nav-product"><a href="/product/admin">商品管理</a></li>
        <li id="sub-nav-order"><a href="/order/admin">订单管理</a></li>
        <li id="sub-nav-news"><a href="/news/admin">公告管理</a></li>
    </ul>
</div>

<div class="row br" th:fragment="user">
    <ul class="nav nav-tabs">
        <li id="sub-nav-user"><a href="/user/profile">个人信息</a></li>
        <li id="sub-nav-order"><a href="/order/">订单管理</a></li>
        <li id="sub-nav-address"><a href="/user/userAddress">地址管理</a></li>
<!--        <li id="sub-nav-security"><a href="/user/security">安全管理</a></li>-->
    </ul>
</div>