<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">小小商店</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>
                <li><a href="/product/">商品</a></li>
                <li><a href="/news/">公告</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                #if($!request.getSession().getAttribute('login_user'))
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            ${login_user.username}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/user/profile">个人设置</a></li>
                            <li><a href="/user/logout">登出</a></li>
                        </ul>
                    </li>
                #else

                        <li><a href="/user/login">登陆</a></li>
                        <li><a href="/user/reg">注册</a></li>
                #end
            </ul>
            <form class="navbar-form navbar-right" role="cart">
                <a href="/cart/" class="btn btn-info">购物车</a>
            </form>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>