<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="@{${product.title}+'-商品信息'}">商品信息</title>

    <div th:replace="common_cssjs"></div>
    <link type="text/css" rel="stylesheet" media="screen" th:href="@{/css/index.css}">
    <script th:src="@{/js/product.js}" type="text/javascript"></script>

</head>

<body>
<div th:replace="common/header::nav"></div>
<div class="container">
    <div class="row">
        <div class="col-md-5 text-center">
            <img class="img-responsive img-rounded" th:src="${product.masterPic.url}">
        </div>
        <div class="col-md-7">
            <div class="form-group">
                <label>商品名称：</label><span th:text="@{${product.title}}">七彩虹火神RTX2070</span>
            </div>
            <div class="form-group">
                <label>商品编码：</label><span th:text="@{${product.code}}">A-12</span>
            </div>
            <div class="form-group">
                <label>商品型号：</label><span th:text="@{${product.model}}">RTX2070</span>
            </div>
            <div class="form-group">
                <label>商品价格：</label><span th:text="@{${product.point}}">3999</span>
            </div>
            <div class="form-group">
                <label>商品简介：</label><span th:text="@{${product.note}}">拍下默认发2070七彩虹水神工包单卡，包邮顺丰,2988元，数量不多了，秒杀价！</span>
            </div>
            <p>
                <a class="btn btn-primary btn-lg  btn-block addCart" th:productid="@{${product.id}}" productid="28" role="button">加入购物车</a>
            </p>
        </div>
    </div>
</div>


</div> <!-- /container -->
<div th:replace="common/footer::copy"></div>

</body>
</html>