<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商品管理</title>
    <div th:replace="common_cssjs"></div>
    <link type="text/css" rel="stylesheet" media="screen" th:href="@{/css/product.css}">
    <script th:src="@{/js/product.js}" type="text/javascript"></script>

</head>

<body>
<div th:replace="common/header::nav"></div>
<div class="container">
    <div th:replace="common/adminNav::admin"></div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>名称</td>
                    <td>型号</td>
                    <td>编码</td>
                    <td>价格</td>
                    <td>库存</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
                <c:forEach items="${page.result}" var="product">
                    <tr th:each="page.result:${product}" pid="${product.id}">
                        <td>${product.id}</td>
                        <td>${product.title}</td>
                        <td>${product.model}</td>
                        <td>${product.code}</td>
                        <td>${product.point}</td>
                        <td>${product.stock}</td>
                        <td><a href="@{/product/edit/}" +${product.id}>修改</a></td>
                    </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <tags:pagination page="${page}" paginationSize="${page.pageSize}"/>
    </div>
    <a class="btn btn-primary" th:href="@{/admin/product/new}">添加</a>

</div>
<!-- /container -->
<div th:replace="common/footer::copy"></div>
</body>
</html>