<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>${title}</title>

    <div th:replace="common_cssjs"></div>
    <script th:src="@{/js/order.js}" type="text/javascript"></script>
</head>

<body>
<div th:replace="common/header::nav"></div>
<div class="container">
    <div th:replace="common/adminNav::user"></div>
    <div class="row">
        <table class="table table-responsive table-striped">
                <thead>
                <tr>
                    <td>订单日期</td>
                    <td>订单编号</td>
                    <td>订单金额</td>
                    <td>订单状态</td>
                    <td>收件人</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="page.result : ${order}" pid="${order.id}">
                        <td th:text="${order.createTime}"></td>
                        <td th:text="${order.orderNumber}"></td>
                        <td th:text="${order.finalPrice}"></td>
                        <td th:text="${order.finalPrice}"></td>
                        <td th:text="${order.finalPrice}"></td>
                        <td th:text="${order.finalPrice}"></td>
                    </tr>
                </tbody>
        </table>
    </div>
<!--    <div class="text-center">-->
<!--        <tags:pagination page="${page}" paginationSize="${page.pageSize}"/>-->
<!--    </div>-->
</div>
<!-- /container -->
<div th:replace="common/footer::copy"></div>
</body>
</html>