<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>公告消息</title>
    <div th:replace="common_cssjs"></div>
    <script th:src="@{/js/news.js}" type="text/javascript"></script>
</head>

<body>
<div th:replace="common/header::nav"></div>
<div class="container">
    <div class="row">
        <table class="table table-responsive table-striped">
                <thead>
                <tr>
                    <td>日期</td>
                    <td>公告标题</td>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="news:${page.result}" pid="${news.id}">
                        <td th:text="${news.createTime}"></td>
                        <td th:text="${news.title}"></td>
                    </tr>
                </tbody>
        </table>
    </div>
    <div class="text-center">
        <!--<tags:pagination page="${page}" paginationSize="${page.pageSize}"/>-->
    </div>
</div>
<!-- /container -->
<div th:replace="common/footer::copy"></div>
</body>
</html>