<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<!-- /.content-wrapper -->
<footer class="main-footer">
    <strong>Copyright &copy; 2019 <a href="http://github.com/vito16/shop">小小商店</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0.0
    </div>
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
