@CHARSET "UTF-8";
html,body,iframe,frameset,frame,form,p,div,span,ol,ul,li,dl,dt,dd,img,input,a,legend,b,table,tr,th,td,h1{margin:0;padding:0}
ul,ol{list-style:none}a img{border:0}img{vertical-align:middle}table{empty-cells:show}input{border:0}
.clr{ display:block;overflow:hidden;clear:both;height:0px;line-height:0;font-size:0}
.clearfix:after{content:".";display:block;height:0;visibility:hidden;clear:both}clearfix{zoom:1}a{text-decoration:none;color:#000}a:active, a:hover{text-decoration:underline;color:#f20}
body{color:#454545;font-family:"宋体";background-color:#fff;font-size:12px;line-height:150%}
input,textarea,table,td{color:#5f5f5f;font-family:Tahoma,Helvetica,Arial,sans-serif;font-size:12px;background-color:#fff}
.rela{position:relative;z-index:10;overflow:visible}
.abs{position:absolute;z-index:9999;}
.verifyimg{float:left; display:inline;margin:3px 0 0 10px}
.letspc{letter-spacing:4px}
h1{ font-style:normal}
h1{float:left;font-size:14px;line-height:32px;}
.fb12{ font-size:12px !important;font-weight:300 !important}
.mt{margin:0 auto !important}
.martl{margin:12px 0 0 30px}
.mar01{margin:10px;}
.mart1{ margin-top:8px}
.mart2{ margin-top:4px}

.marlr1{margin:0 3px;}
.martb01{margin:20px 0;}
.marl01{ margin-left:50px;}
.marl02{ margin-left:20px;}
.marr01{ margin-right:15px;}
.box{border:1px solid #dcdcdc;overflow:hidden}
.box1{border:solid #dcdcdc;border-width:0 1px 1px;overflow:hidden}
.box2{border-top:1px solid #dcdcdc}
.box3{border:1px solid #e9e9e9}
.fl{float:left}.fr{float:right}
.ac{text-align:center}
.ar{text-align:right}

.wrap{width:1003px;margin:0 auto}
.wrap1{width:1001px;margin:0 auto}
.fb14{font-size:14px;font-weight:bold}
.f18{font-size:18px; font-family:Arial, Helvetica, sans-serif}
.lht01{line-height:26px}
.col01{color:#a50404}
.col02{color:#a0014e}
.col03{color:#595959}
.col04{color:#f00}
.col05{color:#44648a}
.col06{color:#a4a4a4}
.col07{color:#f60}
.col08{color:#da3a02}
.price1{font-weight:bold;color:#ee610b}
.price2{font-weight:bold;color:#d8022a}
.price3{font-size:24px;font-family:Arial;color:#ff5a00;font-weight:600;}
.check1{vertical-align:-2px;margin-right:10px}
.bg01{background-color:#fbfbfb}
.bg02{ background-color:#f2faff}
.bg03{ background-color:#fff9e3}

.space{width:100%;height:20px;line-height:0;font-size:0;overflow:hidden}
.space1{width:100%;height:15px;line-height:0;font-size:0;overflow:hidden}
.space2{width:100%;height:40px;overflow:hidden}
.space3{width:100%;height:25px;overflow:hidden}

.padl01{padding-left:20px}
.padlr1{padding:0 15px;}
.padlr2{padding:0 30px;}
.padr1{padding-right:40px}
.htlt{height:20px;line-height:20px;overflow:hidden}
.htlt1{line-height:34px;overflow:hidden}
.htlt2{height:24px;line-height:24px;overflow:hidden}
.htlt3{height:26px;line-height:26px;overflow:hidden}
.p_img{height:129px;overflow:hidden}
.m_lt{display:inline;float:left;margin-right:18px;width:211px;overflow:hidden}
.m_rt{display:inline;float:right;width:774px;overflow:hidden}
.tit{padding-left:43px;width:168px;height:27px;line-height:27px;background:url(../images/trans.png) no-repeat -88px 0;overflow:hidden}
.tit a{color:#fff}
.tit a:hover{color:#fff}
.tit1{font-size:14px;font-weight:bold}
.tit2{font-size:16px;font-weight:bold;font-family:"微软雅黑";color:#0b0b0b}

.ipt01{float:left;margin:0 8px;padding:4px;width:120px;height:14px;border:1px solid #cdcdcd}
.sbt01{display:block; margin-left:10px;border:0;width:65px;height:24px;background:url(../images/btnbg.gif) no-repeat 0 -22px;color:#000;overflow:hidden}
.icorn02{float:left;display:inline;width:24px;height:24px;background:url(../images/icorn.gif) no-repeat 0 -39px}
.icorn05{float:left;display:inline;margin:7px 5px 0 20px;width:20px;height:20px;background:url(../images/icorn.gif) no-repeat 0 -93px;overflow:hidden}
.lineht{height:24px;line-height:24px;}
.road{margin:19px 0 25px 0;height:14px;line-height:14px;overflow:hidden}
.header{margin:21px 0;height:60px;overflow:hidden}
.inl{display:inline}
.buyinfo{margin-left:25px;width:400px;line-height:60px;overflow:hidden}
.bnum{ margin:0 4px;font-weight:bold;color:#f00;}
.ul_topnav li{ float:left}
a.loginout{color:#6a6a6a;text-decoration:none}
a.loginout:hover{color:#f20; text-decoration:none}
a.ablack{padding-right:15px;color:#000;text-decoration:none}
a.ablack:hover{color:#f20;text-decoration:none}
.awhite a{color:#fff}
.awhite a:hover, .awhite a:active{color:#fff}
.topnav{margin:22px 0;height:16px;line-height:16px;overflow:hidden}
.icorn01, .icorn07{display:inline;margin-right:2px;width:28px;height:24px;background:url(../images/icorn.gif) no-repeat;overflow:hidden}
.icorn07{background-position:0 -174px}
.pimgbd img{padding:2px; border:1px solid #e3e2e1}
.pimgbd img:hover{padding:2px; border:1px solid #f60}
.icorn03, .icorn04, .icorn08{float:left;display:inline;margin-right:5px;width:16px;height:16px;background:url(../images/icorn.gif) no-repeat 0 -77px;overflow:hidden}
.icorn04{ background-position:-16px -77px}
.icorn08{ background-position:-34px -77px}
.topnav{width:220px;}
.footer{ margin:10px 0;color:#60193b;text-align:center;line-height:22px;}
.wd{width:40px}.wd1{width:70px}.wd2{width:89px}.wd3{width:290px}.wd4{width:160px}.wd5{width:220px}.wd6{width:400px}.wd7{width:515px}.wd8{width:620px}.wd9{width:100px}.wd10{width:200px}
.content{margin:28px;}
.content p{font-size:14px;line-height:24px;text-indent:2em;margin-bottom:15px;}
.content2{margin:20px;font-size:14px;color:#5d5959;line-height:150%;overflow:hidden}
.newstit{margin:24px 0 32px 0;height:26px;line-height:26px; font-weight:bold;font-size:20px;font-family:"微软雅黑";color:#a71f24;overflow:hidden}
.newsinfo_time{font-size:14px;margin-top:3px;padding-top:6px;height:32px;line-height:32px;border-top:1px dotted #dcdcdc;overflow:hidden}
.lab01{height:30px;line-height:30px;overflow:hidden}
.prodetial{width:128px;height:37px;line-height:37px;text-align:center;color:#454545;background:url(../images/btnbg.gif) no-repeat 0 -146px;overflow:hidden}
.biaoq{width:21px;height:21px;background:url(../images/icorn.gif) no-repeat -29px 0;}
.ht{height:50px;overflow:hidden}
.notice_p{margin:30px auto;width:500px;font-size:14px;line-height:180%;overflow:hidden}
a.a_notice{ color:#af0303;text-decoration:none}
a.a_notice:hover{ color:#f20;text-decoration:underline}
.box_carttp, .box_cartbt{height:10px;background:url(../images/boxbg.gif) repeat-x 0 -98px;overflow:hidden}
.box_cartbt{background-position:0 -91px}
.box_carttplt, .box_carttprt, .box_cartbtlt, .box_cartbtrt{float:left;width:10px;height:10px;background:url(../images/boxbg.gif) no-repeat 0 -70px;overflow:hidden}
.box_carttprt{float:right;background-position:-10px -70px}
.box_cartbtlt{background-position:0 -80px}
.box_cartbtrt{float:right;background-position:-10px -80px}
.box_cartct{border:solid #aa0b58;border-width:0 3px;overflow:hidden}

.box_carttp1, .box_cartbt1{height:10px;background:url(../images/boxbg.gif) repeat-x 0 -137px;overflow:hidden}
.box_cartbt1{background-position:0 -130px}
.box_carttplt1, .box_carttprt1, .box_cartbtlt1, .box_cartbtrt1{float:left;width:10px;height:10px;background:url(../images/boxbg.gif) no-repeat 0 -109px;overflow:hidden}
.box_carttprt1{float:right;background-position:-10px -109px}
.box_cartbtlt1{background-position:0 -119px}
.box_cartbtrt1{float:right;background-position:-10px -119px}
.box_cartct1{border:solid #fdedb7;border-width:0 3px;overflow:hidden}


.icorn06{float:left;display:inline;margin-right:5px;width:18px;height:14px;background:url(../images/icorn.gif) no-repeat -32px -160px;overflow:hidden}

.ul_addr .curr{font-size:14px;font-weight:bold;border:solid #f7e792;border-width:1px 0;background-color:#fef7d5;overflow:hidden}
.ul_addr li{padding:11px 0 11px 90px;height:16px;line-height:16px;border:solid #fff;border-width:1px 0;overflow:hidden}
.ul_addrnew li{padding-bottom:12px;}
.ipt02{padding:5px;height:14px;line-height:14px;border:1px solid #e5e5e5;overflow:hidden}
.ipt03{padding:5px;height:18px;line-height:18px;border:1px solid #d0dee6;overflow:hidden}
.lab02{display:inline;float:left;text-align:right;padding-right:15px;width:130px;height:26px;line-height:26px;overflow:hidden}
.lab03{display:inline;padding-right:10px;width:80px;height:26px;line-height:26px;*line-height:28px;text-align:right;overflow:hidden}
.btn1{ display:inline;margin:0 15px;width:77px;height:27px;border:0;background:url(../images/btnbg.gif) no-repeat 0 -256px;cursor:pointer;color:#fff;font-size:14px;overflow:hidden}
.carttab2 th{height:30px;line-height:30px;background-color:#faf2d7;overflow:hidden}
.carttab2 td{height:80px;vertical-align:middle}
.login{width:100%;height:323px;background-color:#aa0253;}
.mar_logo{margin:40px 0 40px 22px}
.login_ipt, .login_iptcurr {display:inline;background-color: #FBFBFB;border: 1px solid #DADADA;float: left;height: 14px;line-height: 28px;overflow: hidden;padding: 7px 5px;}
.letspc {letter-spacing: 4px;}
.login_lab {float: left;display:inline;height: 30px;line-height: 30px;padding-right: 10px;text-align: right;width: 90px;}
.logginbg{width:1003p;height:323px;background:url(../images/logobg.jpg) no-repeat }
.box_login{float:right;display:inline;margin:80px 115px 0 0;width:312px}
.sbt_login{display:inline;float:right;margin-right:30px;width:76px;height:28px;background:url(../images/btnbg.gif) no-repeat 0 -324px;color:#fff;font-weight:bold;overflow:hidden}
.nav{height:35px;background:url(../images/bg.gif) repeat-x 0 0;overflow:hidden}
.ul_nav li{float:left;padding:0 36px;font-size:14px;font-weight:bold;line-height:35px;overflow:hidden}
.ryes{background:url(../images/ryes.gif) no-repeat right top}
.ul_nav li a{color:#fff; }
.ul_nav li a:hover{ color:#fff;}
.ul_cate{margin:0 auto;width:198px}
.ul_cate .curr{ border:1px solid #ddd !important; background-color:#f3f3f3}
.ul_cate li{margin:10px 0;padding-left:58px;width:138px;height:24px;line-height:24px;border:1px solid #fbfbfb;background:url(../images/arrow.gif) no-repeat;overflow:hidden}
.ul_cate li:hover{border:1px solid #ddd !important; background-color:#f3f3f3}
.ul_cate li a{color:#454545;}
.ul_cate li a:hover{color:#a50404;}
.ul_service li{float:left;margin:10px 0;width:195px;height:92px;text-align:center;vertical-align:middle; overflow:hidden}
.bdl{ border-left:1px solid #e7e7e7}
.bgbt{margin-top:6px;height:29px;background:url(../images/bg.gif) repeat-x 0 -72px;overflow:hidden}
.navbt{width:350px}
.navbt li{float:left;margin-top:7px;padding:0 10px;height:14px;line-height:14px;overflow:hidden}
.navbt li a{color:#fff;}
.navbt li a:hover{color:#fff}