<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>商品管理</title>

  <div th:replace="admin/common/admin_css"></div>

</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <div th:replace="admin/common/adminNav::navbar"></div>

  <div th:replace="admin/common/adminNav::sidebar"></div>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div th:replace="admin/common/adminNav::content-header"></div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
          <table class="table table-striped">
            <thead>
            <tr>
              <td>ID</td>
              <td>名称</td>
              <td>型号</td>
              <td>编码</td>
              <td>价格</td>
              <td>库存</td>
              <td>操作</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product:${page.result}" th:pid="${product.id}">
              <td th:text="${product.id}"></td>
              <td th:text="${product.title}"></td>
              <td th:text="${product.model}"></td>
              <td th:text="${product.code}"></td>
              <td th:text="${product.point}"></td>
              <td th:text="${product.stock}"></td>
              <td><a th:href="@{'/admin/product/edit/'+${product.id}}">修改</a></td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- /.row (main row) -->

        <!--<div class="text-center">
            <tags:pagination page="${page}" paginationSize="${page.pageSize}"/>
        </div>-->
        <a class="btn btn-primary" th:href="@{/admin/product/new}">添加</a>

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  <div th:replace="admin/common/admin_footer"></div>
</div>
<!-- ./wrapper -->
<div th:replace="admin/common/admin_js"></div>
</body>
</html>
