<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>主页</title>

<!--    <link type="text/css" rel="stylesheet" media="screen" th:href="@{/css/common.css}">-->
<!--    <link type="text/css" rel="stylesheet" media="screen" th:href="@{/common/bootstrap/css/bootstrap.css}">-->
<!--    <link type="text/css" rel="stylesheet" media="screen" th:href="@{/common/bootstrap/css/bootstrap-datetimepicker.min.css}">-->
<!--    <link type="text/css" rel="stylesheet" media="screen" th:href="@{/common/sco/css/scojs.css}">-->
<!--    <link type="text/css" rel="stylesheet" media="screen" th:href="@{/common/bootstrap/css/bootstrapValidator.min.css}"/>-->

    <link type="text/css" rel="stylesheet" media="screen" href="/css/common.css">
    <link type="text/css" rel="stylesheet" media="screen" href="/common/bootstrap/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" media="screen" href="/common/bootstrap/css/bootstrap-datetimepicker.min.css">
    <link type="text/css" rel="stylesheet" media="screen" href="/common/sco/css/scojs.css">
    <link type="text/css" rel="stylesheet" media="screen" href="/common/bootstrap/css/bootstrapValidator.min.css"/>

<!--    <script th:src="@{/common/js/jquery.min.js}" type="text/javascript"></script>-->
<!--    <script th:src="@{/common/bootstrap/js/bootstrap.js}" type="text/javascript"></script>-->
<!--    <script th:src="@{/common/bootstrap/js/bootstrap-datetimepicker.min.js}" type="text/javascript"></script>-->
<!--    <script th:src="@{/common/bootstrap/js/bootstrapValidator.min.js}" type="text/javascript"></script>-->
<!--    <script th:src="@{/common/sco/js/sco.modal.js}" type="text/javascript"></script>-->
<!--    <script th:src="@{/common/toastr/toastr.min.js}" type="text/javascript"></script>-->

</head>
<body>

<div th:replace="common/header::nav"></div>

<div class="container">

    <div class="jumbotron">
        <h1>
            小小商店
        </h1>

        <p>
            Spring MVC + Spring Data JPA + Bootstrap 3
        </p>

        <p>
            <a class="btn btn-primary btn-large" href="http://github.com/vito16/shop">Github</a>
        </p>
    </div>

</div>
<div th:replace="common/footer::copy"></div>
</body>
</html>